extends layout

block content
  #box
  .cent-box
    .cent-box-header
      h2 欢迎您，
        span= name
      h2.sub-title 热爱生活 - 热爱coding

    .cont-main.clearfix
      .button
        button(type="submit" class="login-btn register-btn logout-submit" id="button") 注销

    .table-wrapper
       table(border=1 cellspacing=0 cellpadding=0 width=400)
         thead
            tr
              td 名字
              td 性别
              td 年龄
              td 省
              td 市
              td 区
              td 详细地址
              td 密码
         tbody
           each item in data
             tr
              td #{item.name}
              td #{item.gender}
              td #{item.age}
              td #{item.province}
              td #{item.city}
              td #{item.area}
              td #{item.address}
              td #{item.password}

  script(src='../javascripts/particles.js')
  script(src='../javascripts/background.js')
  script(src='../javascripts/jquery.min.js')
  script(src='../javascripts/layer/layer.js')
  script(src='../javascripts/index.js')